<div class="stacklist__inner component__inner">
    {{> component this}}

    <div class="stacklist__widget component__widget">
        <div class="stacklist__items">
            <div class="stacklist__items-inner">
                {{#each _items}}
                    <div class="stacklist__item">
                        {{#if this.length}}
                            {{{a11y_text this}}}
                        {{else}}
                            {{{a11y_text body}}}
                        {{/if}}
                    </div>
                {{/each}}
                <div class="stacklist__button">
                    <button class="stacklist__next" aria-label="{{{_button.startText}}}, {{{_button.ariaLabel}}}">{{{_button.startText}}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
