<div class="stacklist-inner component-inner" role="region" aria-label="{{_globals._components._text.ariaRegion}}">
    {{> component this}}

    <div class="stacklist-widget component-widget">
        <div class="stacklist-items">
            <div class="stacklist-items-inner">
                {{#each _items}}
                    <div class="stacklist-item">
                        {{#if this.length}}
                            {{{a11y_text this}}}
                        {{else}}
                            {{{a11y_text body}}}
                        {{/if}}
                    </div>
                {{/each}}
                <div class="stacklist-button">
                    <button class="stacklist-next" aria-label="{{_globals._accessibility._ariaLabels.next}}" role="button">
                        {{{_button.startText}}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
